{"openapi":"3.1.0","info":{"title":"Backstory Public API","version":"1.0.0","description":"The Backstory public API gives your organization programmatic read access to the go-to-market data Backstory captures and enriches: accounts, activities, contacts, leads, opportunities, teams, team members, and Engagement Levels, plus asynchronous bulk export and activity ingestion.\n\n**Base URL:** `https://api.people.ai`\n\n**Authentication:** all requests use a short-lived OAuth 2.0 bearer token. Mint one from your API key and secret (see Authentication), then send it as `Authorization: Bearer <access_token>`.\n\n**Errors:** all endpoints share one error envelope—`code`, `id`, `message`, `path`, and `timestamp` (formatted `DD-MM-YYYY HH:MM:SS`). Any endpoint may return `400` (malformed request), `401` (auth), `404` (not found), `429` (rate limit; no `Retry-After` header), or `500`.\n\n**Validation status (2026-06-03):** the GA read (GET) endpoints are validated against the live API. The mutation endpoints (`POST /pull/v1/export/activities/jobs` and `POST /pull/v1/export/contacts/jobs` job creation, and `PUT /v0/public/activities/email` ingest) and the job-data download have not been exercised live—validate them in a sandbox before relying on their request and response details.\n\n> Response schemas in this reference are derived from observed API responses and > field inventories. Field presence can vary by record and by your organization's > configuration. Replace `YOUR_ACCESS_TOKEN` with a token you mint at runtime.\n"},"servers":[{"url":"https://api.people.ai","description":"Production"}],"security":[{"bearerAuth":[]}],"tags":[{"name":"Authentication","description":"Mint a bearer token from your API key and secret."},{"name":"Accounts","description":"Read account records."},{"name":"Activities","description":"Read activity records (emails, calls, meetings) and their participants."},{"name":"Contacts","description":"Read contact records."},{"name":"Leads","description":"Read lead records."},{"name":"Opportunities","description":"Read opportunity records."},{"name":"Teams","description":"Read team records."},{"name":"Team Members","description":"Read team-member (user) records."},{"name":"Engagement","description":"Read Engagement Levels for accounts, contacts, leads, and opportunities."},{"name":"Bulk Export","description":"Asynchronous, job-based export of raw activity data and enriched contacts."},{"name":"Activity Ingestion","description":"Push activities into Backstory."}],"paths":{"/auth/v1/tokens":{"post":{"tags":["Authentication"],"summary":"Generate an access token","operationId":"createAccessToken","description":"Exchange your API key (`client_id`) and secret (`client_secret`) for a short-lived bearer token using the OAuth 2.0 client-credentials grant. Generate and manage API keys in the Admin Panel under API Key Management. The returned `access_token` is a JWT; send it as `Authorization: Bearer <access_token>` on every other request. The default lifespan is 7200 seconds.\n","security":[],"requestBody":{"required":true,"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","required":["grant_type","client_id","client_secret"],"properties":{"grant_type":{"type":"string","enum":["client_credentials"],"description":"Must be `client_credentials`."},"client_id":{"type":"string","description":"Your API key from API Key Management."},"client_secret":{"type":"string","description":"Your API secret from API Key Management."}}},"example":{"grant_type":"client_credentials","client_id":"YOUR_API_KEY","client_secret":"YOUR_API_SECRET"}}}},"responses":{"200":{"description":"A bearer access token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenResponse"},"example":{"access_token":"YOUR_ACCESS_TOKEN","token_type":"bearer","expires_in":7200,"expires_at":"2026-06-03T07:25:25.999967"}}}},"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/v0/public/accounts":{"get":{"tags":["Accounts"],"summary":"List accounts","operationId":"listAccounts","description":"Return all accounts for your organization.","parameters":[{"$ref":"#/components/parameters/Type"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Limit"}],"responses":{"200":{"description":"A paginated list of accounts.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Account"}},"meta":{"$ref":"#/components/schemas/ListMeta"}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"}}}},"/v0/public/accounts/{id}":{"get":{"tags":["Accounts"],"summary":"Get account by ID","operationId":"getAccountById","parameters":[{"$ref":"#/components/parameters/IdPath"}],"responses":{"200":{"$ref":"#/components/responses/AccountSingle"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/v0/public/accounts/crm-id/{crmId}":{"get":{"tags":["Accounts"],"summary":"Get account by CRM ID","operationId":"getAccountByCrmId","parameters":[{"$ref":"#/components/parameters/CrmIdPath"}],"responses":{"200":{"$ref":"#/components/responses/AccountSingle"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/v0/public/activities":{"get":{"tags":["Activities"],"summary":"List activities","operationId":"listActivities","description":"Return all company activities within a time range. If no range is specified, a 30-day range is enforced. The maximum date range for activity data is 2 years.\n","parameters":[{"$ref":"#/components/parameters/AccountIdQuery"},{"$ref":"#/components/parameters/OpportunityIdQuery"},{"$ref":"#/components/parameters/From"},{"$ref":"#/components/parameters/To"},{"$ref":"#/components/parameters/LastNDays"},{"$ref":"#/components/parameters/TimeZone"},{"$ref":"#/components/parameters/IngestFrom"},{"$ref":"#/components/parameters/IngestTo"},{"$ref":"#/components/parameters/InternalExternal"},{"$ref":"#/components/parameters/IncludeDeleted"},{"$ref":"#/components/parameters/Uid"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Limit"}],"responses":{"200":{"$ref":"#/components/responses/ActivityList"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"}}}},"/v0/public/activities/{activityType}":{"get":{"tags":["Activities"],"summary":"List activities of a type","operationId":"listActivitiesByType","description":"Return company activities for the given `activityType` within a time range. If no range is specified, a 30-day range is enforced.\n","parameters":[{"name":"activityType","in":"path","required":true,"description":"Activity type to fetch.","schema":{"type":"string","enum":["email","call","meeting"]}},{"$ref":"#/components/parameters/AccountIdQuery"},{"$ref":"#/components/parameters/OpportunityIdQuery"},{"$ref":"#/components/parameters/From"},{"$ref":"#/components/parameters/To"},{"$ref":"#/components/parameters/LastNDays"},{"$ref":"#/components/parameters/TimeZone"},{"$ref":"#/components/parameters/IngestFrom"},{"$ref":"#/components/parameters/IngestTo"},{"$ref":"#/components/parameters/InternalExternal"},{"$ref":"#/components/parameters/IncludeDeleted"},{"$ref":"#/components/parameters/Uid"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Limit"}],"responses":{"200":{"$ref":"#/components/responses/ActivityList"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"}}}},"/v0/public/activities/participants":{"get":{"tags":["Activities"],"summary":"List activity participants","operationId":"listActivityParticipants","description":"Return all participants for activities within your organization.","parameters":[{"$ref":"#/components/parameters/AccountIdQuery"},{"$ref":"#/components/parameters/OpportunityIdQuery"},{"$ref":"#/components/parameters/From"},{"$ref":"#/components/parameters/To"},{"$ref":"#/components/parameters/LastNDays"},{"$ref":"#/components/parameters/TimeZone"},{"$ref":"#/components/parameters/IngestFrom"},{"$ref":"#/components/parameters/IngestTo"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Limit"}],"responses":{"200":{"$ref":"#/components/responses/ParticipantList"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"}}}},"/v0/public/activities/crm-id/{crmId}":{"get":{"tags":["Activities"],"summary":"List activities by CRM ID","operationId":"getActivityByCrmId","description":"Returns the activities for a CRM id. One CRM id can map to many activities, so this endpoint returns a list with a `meta` envelope, not a single record.\n","parameters":[{"$ref":"#/components/parameters/CrmIdPath"},{"$ref":"#/components/parameters/IncludeDeleted"}],"responses":{"200":{"$ref":"#/components/responses/ActivityList"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"}}}},"/v0/public/activities/crm-id/{crmId}/participants":{"get":{"tags":["Activities"],"summary":"List participants for an activity CRM ID","operationId":"listActivityParticipantsByCrmId","description":"All other query parameters are ignored when `crmId` is specified.","parameters":[{"$ref":"#/components/parameters/CrmIdPath"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Limit"}],"responses":{"200":{"$ref":"#/components/responses/ParticipantList"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"}}}},"/v0/public/contacts":{"get":{"tags":["Contacts"],"summary":"List contacts","operationId":"listContacts","parameters":[{"$ref":"#/components/parameters/JobTitle"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Limit"}],"responses":{"200":{"$ref":"#/components/responses/ContactList"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"}}}},"/v0/public/contacts/{id}":{"get":{"tags":["Contacts"],"summary":"Get contact by ID","operationId":"getContactById","parameters":[{"$ref":"#/components/parameters/IdPath"}],"responses":{"200":{"$ref":"#/components/responses/ContactSingle"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/v0/public/contacts/crm-id/{crmId}":{"get":{"tags":["Contacts"],"summary":"Get contact by CRM ID","operationId":"getContactByCrmId","parameters":[{"$ref":"#/components/parameters/CrmIdPath"}],"responses":{"200":{"$ref":"#/components/responses/ContactSingle"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/v0/public/contacts/email/{email}":{"get":{"tags":["Contacts"],"summary":"Get contact by email","operationId":"getContactByEmail","parameters":[{"$ref":"#/components/parameters/EmailPath"}],"responses":{"200":{"$ref":"#/components/responses/ContactSingle"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/v0/public/leads":{"get":{"tags":["Leads"],"summary":"List leads","operationId":"listLeads","parameters":[{"$ref":"#/components/parameters/JobTitle"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Limit"}],"responses":{"200":{"$ref":"#/components/responses/LeadList"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"}}}},"/v0/public/leads/{id}":{"get":{"tags":["Leads"],"summary":"Get lead by ID","operationId":"getLeadById","parameters":[{"$ref":"#/components/parameters/IdPath"}],"responses":{"200":{"$ref":"#/components/responses/LeadSingle"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/v0/public/leads/crm-id/{crmId}":{"get":{"tags":["Leads"],"summary":"Get lead by CRM ID","operationId":"getLeadByCrmId","parameters":[{"$ref":"#/components/parameters/CrmIdPath"}],"responses":{"200":{"$ref":"#/components/responses/LeadSingle"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/v0/public/leads/email/{email}":{"get":{"tags":["Leads"],"summary":"Get lead by email","operationId":"getLeadByEmail","parameters":[{"$ref":"#/components/parameters/EmailPath"}],"responses":{"200":{"$ref":"#/components/responses/LeadSingle"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/v0/public/opportunities":{"get":{"tags":["Opportunities"],"summary":"List opportunities","operationId":"listOpportunities","parameters":[{"$ref":"#/components/parameters/AccountIdQuery"},{"$ref":"#/components/parameters/Type"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Limit"}],"responses":{"200":{"$ref":"#/components/responses/OpportunityList"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"}}}},"/v0/public/opportunities/{id}":{"get":{"tags":["Opportunities"],"summary":"Get opportunity by ID","operationId":"getOpportunityById","parameters":[{"$ref":"#/components/parameters/IdPath"}],"responses":{"200":{"$ref":"#/components/responses/OpportunitySingle"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/v0/public/opportunities/crm-id/{crmId}":{"get":{"tags":["Opportunities"],"summary":"Get opportunity by CRM ID","operationId":"getOpportunityByCrmId","parameters":[{"$ref":"#/components/parameters/CrmIdPath"}],"responses":{"200":{"$ref":"#/components/responses/OpportunitySingle"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/v0/public/teams":{"get":{"tags":["Teams"],"summary":"List teams","operationId":"listTeams","parameters":[{"name":"parent-team-id","in":"query","required":false,"description":"Filter to children of this parent team.","schema":{"type":"integer"}},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Limit"}],"responses":{"200":{"$ref":"#/components/responses/TeamList"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"}}}},"/v0/public/teams/{id}":{"get":{"tags":["Teams"],"summary":"Get team by ID","operationId":"getTeamById","parameters":[{"$ref":"#/components/parameters/IdPath"}],"responses":{"200":{"$ref":"#/components/responses/TeamSingle"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/v0/public/teams/crm-id/{crmId}":{"get":{"tags":["Teams"],"summary":"Get team by CRM ID","operationId":"getTeamByCrmId","parameters":[{"$ref":"#/components/parameters/CrmIdPath"}],"responses":{"200":{"$ref":"#/components/responses/TeamSingle"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/v0/public/team-members":{"get":{"tags":["Team Members"],"summary":"List team members","operationId":"listTeamMembers","parameters":[{"name":"member-job-title","in":"query","required":false,"description":"Filter by job title.","schema":{"type":"string"}},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Limit"}],"responses":{"200":{"$ref":"#/components/responses/TeamMemberList"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"}}}},"/v0/public/team-members/{id}":{"get":{"tags":["Team Members"],"summary":"Get team member by ID","operationId":"getTeamMemberById","parameters":[{"$ref":"#/components/parameters/IdPath"}],"responses":{"200":{"$ref":"#/components/responses/TeamMemberSingle"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/v0/public/team-members/crm-id/{crmId}":{"get":{"tags":["Team Members"],"summary":"Get team member by CRM ID","operationId":"getTeamMemberByCrmId","parameters":[{"$ref":"#/components/parameters/CrmIdPath"}],"responses":{"200":{"$ref":"#/components/responses/TeamMemberSingle"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/v0/public/team-members/email/{email}":{"get":{"tags":["Team Members"],"summary":"Get team member by email","operationId":"getTeamMemberByEmail","parameters":[{"$ref":"#/components/parameters/EmailPath"}],"responses":{"200":{"$ref":"#/components/responses/TeamMemberSingle"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/v0/public/team-members/team-id/{id}":{"get":{"tags":["Team Members"],"summary":"List team members by team (and descendants)","operationId":"listTeamMembersByTeamId","description":"Returns members of the team plus all descendant teams.","parameters":[{"$ref":"#/components/parameters/IdPath"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Limit"}],"responses":{"200":{"$ref":"#/components/responses/TeamMemberList"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"}}}},"/v0/public/team-members/team-crm-id/{crmId}":{"get":{"tags":["Team Members"],"summary":"List team members by team CRM ID (and descendants)","operationId":"listTeamMembersByTeamCrmId","parameters":[{"$ref":"#/components/parameters/CrmIdPath"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Limit"}],"responses":{"200":{"$ref":"#/components/responses/TeamMemberList"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"}}}},"/v0/public/accounts/insights/engagement":{"get":{"tags":["Engagement"],"summary":"List account Engagement Levels","operationId":"listAccountEngagement","parameters":[{"name":"account-id","in":"query","required":false,"schema":{"type":"integer"},"description":"Filter to one account."},{"$ref":"#/components/parameters/From"},{"$ref":"#/components/parameters/To"},{"$ref":"#/components/parameters/LastNDays"},{"$ref":"#/components/parameters/TimeZone"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Limit"}],"responses":{"200":{"$ref":"#/components/responses/EngagementList"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"}}}},"/v0/public/contacts/insights/engagement":{"get":{"tags":["Engagement"],"summary":"List contact Engagement Levels","operationId":"listContactEngagement","parameters":[{"name":"contact-id","in":"query","required":false,"schema":{"type":"integer"},"description":"Filter to one contact."},{"$ref":"#/components/parameters/From"},{"$ref":"#/components/parameters/To"},{"$ref":"#/components/parameters/LastNDays"},{"$ref":"#/components/parameters/TimeZone"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Limit"}],"responses":{"200":{"$ref":"#/components/responses/EngagementList"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"}}}},"/v0/public/leads/insights/engagement":{"get":{"tags":["Engagement"],"summary":"List lead Engagement Levels","operationId":"listLeadEngagement","parameters":[{"name":"lead-id","in":"query","required":false,"schema":{"type":"integer"},"description":"Filter to one lead."},{"$ref":"#/components/parameters/From"},{"$ref":"#/components/parameters/To"},{"$ref":"#/components/parameters/LastNDays"},{"$ref":"#/components/parameters/TimeZone"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Limit"}],"responses":{"200":{"$ref":"#/components/responses/EngagementList"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"}}}},"/v0/public/opportunities/insights/engagement":{"get":{"tags":["Engagement"],"summary":"List opportunity Engagement Levels","operationId":"listOpportunityEngagement","parameters":[{"name":"opportunity-id","in":"query","required":false,"schema":{"type":"integer"},"description":"Filter to one opportunity."},{"$ref":"#/components/parameters/From"},{"$ref":"#/components/parameters/To"},{"$ref":"#/components/parameters/LastNDays"},{"$ref":"#/components/parameters/TimeZone"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Limit"}],"responses":{"200":{"$ref":"#/components/responses/EngagementList"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"}}}},"/pull/v1/export/activities/jobs":{"post":{"tags":["Bulk Export"],"summary":"Start a raw activity export job","operationId":"startActivityExportJob","description":"Start an asynchronous Raw Activity Data export. Poll the returned job, then download its data when complete.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["start_date","end_date"],"properties":{"start_date":{"type":"string","format":"date","description":"Inclusive start date (YYYY-MM-DD)."},"end_date":{"type":"string","format":"date","description":"Inclusive end date (YYYY-MM-DD)."},"activity_type":{"type":"string","description":"Activity type to export, e.g. `all`.","default":"all"},"output_format":{"type":"string","description":"Output encoding, e.g. `JSONLines`.","example":"JSONLines"},"export_type":{"type":"string","description":"`snapshot` for a point-in-time export, or `delta` for changes.","example":"snapshot"}}},"example":{"start_date":"2026-01-01","end_date":"2026-03-31","activity_type":"all","output_format":"JSONLines","export_type":"snapshot"}}}},"responses":{"200":{"$ref":"#/components/responses/ExportJob"},"401":{"$ref":"#/components/responses/Unauthorized"}}},"get":{"tags":["Bulk Export"],"summary":"List recent activity export jobs","operationId":"listActivityExportJobs","description":"List activity export jobs initiated in the past 10 days.","responses":{"200":{"description":"A list of recent export jobs.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExportJob"}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"}}}},"/pull/v1/export/activities/jobs/{job_id}":{"get":{"tags":["Bulk Export"],"summary":"Get activity export job status","operationId":"getActivityExportJob","parameters":[{"$ref":"#/components/parameters/JobIdPath"}],"responses":{"200":{"$ref":"#/components/responses/ExportJob"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/pull/v1/export/activities/jobs/{job_id}/data":{"get":{"tags":["Bulk Export"],"summary":"Download activity export data","operationId":"getActivityExportData","description":"Download the data for a completed job. For large exports, request individual chunks in parallel with the `fragment` query parameter.\n","parameters":[{"$ref":"#/components/parameters/JobIdPath"},{"$ref":"#/components/parameters/Fragment"}],"responses":{"200":{"description":"The exported activity data, in the job's `output_format`.","content":{"application/json":{"schema":{"type":"object","additionalProperties":true}},"application/x-ndjson":{"schema":{"type":"string"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/pull/v1/export/contacts/jobs":{"post":{"tags":["Bulk Export"],"summary":"Start an enriched contacts export job","operationId":"startContactExportJob","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["start_date","end_date"],"properties":{"start_date":{"type":"string","format":"date","description":"Inclusive start date (YYYY-MM-DD)."},"end_date":{"type":"string","format":"date","description":"Inclusive end date (YYYY-MM-DD)."},"include_historical":{"type":"boolean","description":"Include historical records."},"include_existing":{"type":"boolean","description":"Include already-known records."},"is_sourced_by_people_ai":{"type":"boolean","description":"Limit to Backstory-sourced records."},"output_format":{"type":"string","description":"Output encoding, e.g. `JSON`.","example":"JSON"}}},"example":{"start_date":"2026-01-01","end_date":"2026-03-31","include_historical":true,"include_existing":true,"is_sourced_by_people_ai":false,"output_format":"JSON"}}}},"responses":{"200":{"$ref":"#/components/responses/ExportJob"},"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/pull/v1/export/contacts/jobs/{job_id}":{"get":{"tags":["Bulk Export"],"summary":"Get contacts export job status","operationId":"getContactExportJob","parameters":[{"$ref":"#/components/parameters/JobIdPath"}],"responses":{"200":{"$ref":"#/components/responses/ExportJob"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/pull/v1/export/contacts/jobs/{job_id}/data":{"get":{"tags":["Bulk Export"],"summary":"Download contacts export data","operationId":"getContactExportData","parameters":[{"$ref":"#/components/parameters/JobIdPath"},{"$ref":"#/components/parameters/Fragment"}],"responses":{"200":{"description":"The exported enriched-contacts data.","content":{"application/json":{"schema":{"type":"object","additionalProperties":true}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/v0/public/activities/email":{"put":{"tags":["Activity Ingestion"],"summary":"Ingest an email activity","operationId":"ingestEmailActivity","description":"Push a single email activity into Backstory. This is an idempotent upsert keyed on `external_id`: sending the same `external_id` again updates the prior record. Requests also send the header `x-peopleai-request-origin: public`.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["external_id","from","to","subject","timestamp"],"properties":{"external_id":{"type":"string","description":"Caller-supplied idempotency / external key."},"subtype":{"type":"string","description":"Optional activity subtype label."},"subject":{"type":"string"},"body":{"type":"string","description":"Email body text."},"timestamp":{"type":"integer","description":"Activity time","Unix epoch seconds.":null},"from":{"$ref":"#/components/schemas/EmailParticipant"},"to":{"type":"array","items":{"$ref":"#/components/schemas/EmailParticipant"}},"cc":{"type":"array","description":"Optional carbon-copy recipients.","items":{"$ref":"#/components/schemas/EmailParticipant"}},"thread_id":{"type":"string","description":"Optional email thread identifier."}}},"example":{"external_id":"a3f1c0de-1234-4abc-9def-0123456789ab","subtype":"api-ingest","subject":"Following up on next steps","body":"Thanks for the time today...","timestamp":1771200000,"from":{"email":"rep@yourcompany.com","name":"Sales Rep"},"to":[{"email":"buyer@customer.com","name":"Buyer"}]}}}},"responses":{"200":{"description":"The activity was accepted."},"401":{"$ref":"#/components/responses/Unauthorized"}}}}},"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"Send the access token from `POST /auth/v1/tokens` as `Authorization: Bearer <access_token>`.\n"}},"parameters":{"Offset":{"name":"offset","in":"query","required":false,"description":"Number of records to skip. Default 0.","schema":{"type":"integer","minimum":0,"default":0}},"Limit":{"name":"limit","in":"query","required":false,"description":"Maximum number of records to return. Default 1000, maximum 100000.","schema":{"type":"integer","minimum":1,"maximum":100000,"default":1000}},"From":{"name":"from","in":"query","required":false,"description":"Start of the date range (YYYY-MM-DD).","schema":{"type":"string","format":"date"}},"To":{"name":"to","in":"query","required":false,"description":"End of the date range (YYYY-MM-DD).","schema":{"type":"string","format":"date"}},"LastNDays":{"name":"last-n-days","in":"query","required":false,"description":"Relative window of the last N days (alternative to from/to).","schema":{"type":"integer","minimum":1}},"TimeZone":{"name":"time-zone","in":"query","required":false,"description":"IANA time zone used to interpret the date range.","schema":{"type":"string"}},"IngestFrom":{"name":"ingested-from","in":"query","required":false,"description":"Lower bound on ingestion time (YYYY-MM-DD).","schema":{"type":"string","format":"date"}},"IngestTo":{"name":"ingested-to","in":"query","required":false,"description":"Upper bound on ingestion time (YYYY-MM-DD).","schema":{"type":"string","format":"date"}},"InternalExternal":{"name":"internal-external","in":"query","required":false,"description":"Filter by activity direction relative to your organization.","schema":{"type":"string","enum":["all","internal","external"]}},"IncludeDeleted":{"name":"include-deleted","in":"query","required":false,"description":"Include records that have been marked deleted.","schema":{"type":"boolean"}},"Uid":{"name":"uid","in":"query","required":false,"description":"Exclusive filter by activity `uid`. When set, all other parameters are ignored.","schema":{"type":"string"}},"AccountIdQuery":{"name":"account-id","in":"query","required":false,"description":"Filter by Backstory account id.","schema":{"type":"integer"}},"OpportunityIdQuery":{"name":"opportunity-id","in":"query","required":false,"description":"Filter by Backstory opportunity id.","schema":{"type":"integer"}},"JobTitle":{"name":"job-title","in":"query","required":false,"description":"Filter by job title.","schema":{"type":"string"}},"Type":{"name":"type","in":"query","required":false,"description":"Filter by entity type.","schema":{"type":"string"}},"Fragment":{"name":"fragment","in":"query","required":false,"description":"Fragment index, to retrieve one chunk of a large export in parallel.","schema":{"type":"integer","minimum":0}},"IdPath":{"name":"id","in":"path","required":true,"description":"Backstory internal id.","schema":{"type":"integer"}},"CrmIdPath":{"name":"crmId","in":"path","required":true,"description":"Source-CRM (e.g. Salesforce) id.","schema":{"type":"string"}},"EmailPath":{"name":"email","in":"path","required":true,"description":"Email address (URL-encoded).","schema":{"type":"string","format":"email"}},"JobIdPath":{"name":"job_id","in":"path","required":true,"description":"The job id returned when the export job was started.","schema":{"type":"string"}}},"responses":{"Unauthorized":{"description":"Missing or invalid bearer token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"code":401,"id":"0f9a3c7e1b5d4826ad03e9f1c7b62d54","message":"Invalid or expired token","path":"/v0/public/accounts","timestamp":"03-06-2026 03:25:25"}}}},"NotFound":{"description":"No matching record.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"code":404,"id":"7b1e4d9a02c8f3650ae71b0d4c95f218","message":"Not found","path":"/v0/public/accounts/123","timestamp":"03-06-2026 03:25:25"}}}},"BadRequest":{"description":"Malformed request, for example an out-of-range `limit` or a malformed job id.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"code":400,"id":"1a2b3c4d5e6f70819a2b3c4d5e6f7081","message":"Invalid request","path":"/v0/public/accounts","timestamp":"03-06-2026 03:25:25"}}}},"RateLimited":{"description":"Rate limit exceeded. Back off and retry; no `Retry-After` header is returned.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"code":429,"id":"2b3c4d5e6f70819a2b3c4d5e6f708192","message":"Rate limit exceeded","path":"/v0/public/accounts","timestamp":"03-06-2026 03:25:25"}}}},"ServerError":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"code":500,"id":"3c4d5e6f70819a2b3c4d5e6f70819203","message":"Internal server error","path":"/v0/public/accounts","timestamp":"03-06-2026 03:25:25"}}}},"AccountSingle":{"description":"A single account.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Account"},"meta":{"type":"null"}}}}}},"ActivityList":{"description":"A paginated list of activities.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Activity"}},"meta":{"$ref":"#/components/schemas/ListMeta"}}}}}},"ParticipantList":{"description":"A paginated list of activity participants.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Participant"}},"meta":{"$ref":"#/components/schemas/ListMeta"}}}}}},"ContactList":{"description":"A paginated list of contacts.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Contact"}},"meta":{"$ref":"#/components/schemas/ListMeta"}}}}}},"ContactSingle":{"description":"A single contact.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Contact"},"meta":{"type":"null"}}}}}},"LeadList":{"description":"A paginated list of leads.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Lead"}},"meta":{"$ref":"#/components/schemas/ListMeta"}}}}}},"LeadSingle":{"description":"A single lead.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Lead"},"meta":{"type":"null"}}}}}},"OpportunityList":{"description":"A paginated list of opportunities.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Opportunity"}},"meta":{"$ref":"#/components/schemas/ListMeta"}}}}}},"OpportunitySingle":{"description":"A single opportunity.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Opportunity"},"meta":{"type":"null"}}}}}},"TeamList":{"description":"A paginated list of teams.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Team"}},"meta":{"$ref":"#/components/schemas/ListMeta"}}}}}},"TeamSingle":{"description":"A single team.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Team"},"meta":{"type":"null"}}}}}},"TeamMemberList":{"description":"A paginated list of team members.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/TeamMember"}},"meta":{"$ref":"#/components/schemas/ListMeta"}}}}}},"TeamMemberSingle":{"description":"A single team member.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/TeamMember"},"meta":{"type":"null"}}}}}},"EngagementList":{"description":"A paginated list of Engagement Level records.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/EngagementScore"}},"meta":{"$ref":"#/components/schemas/ListMeta"}}}}}},"ExportJob":{"description":"An export job.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExportJob"}}}}},"schemas":{"TokenResponse":{"type":"object","properties":{"access_token":{"type":"string","description":"The JWT bearer token."},"token_type":{"type":"string","example":"bearer"},"expires_in":{"type":"integer","description":"Token lifetime in seconds.","example":7200},"expires_at":{"type":"string","format":"date-time","description":"Absolute expiry timestamp (ISO 8601)."}}},"ListMeta":{"type":"object","description":"Pagination envelope returned with list responses.","properties":{"limit":{"type":"integer"},"offset":{"type":"integer"},"total":{"type":"integer","description":"Total number of records matching the query."},"message":{"type":"string","description":"Optional advisory message (for example, a deprecation notice); null when there is nothing to report."}}},"Error":{"type":"object","description":"Standard error envelope.","properties":{"code":{"type":"integer"},"id":{"type":"string","description":"A unique per-request trace identifier (a hex hash) that changes on every response, not a stable error code. Log it when reporting a problem; do not branch on its value."},"message":{"type":"string"},"path":{"type":"string"},"timestamp":{"type":"string","description":"Server time the error occurred."}}},"Account":{"type":"object","properties":{"id":{"type":"integer"},"crm_id":{"type":"string"},"name":{"type":"string"},"type":{"type":"string"},"source":{"type":"string"},"active":{"type":"boolean"},"deleted":{"type":"boolean"},"owner_crm_id":{"type":"string"},"created_by_crm_id":{"type":"string"},"modified_by_crm_id":{"type":"string"},"external_parent_id":{"type":"string"},"custom_account_team":{"type":"string"},"custom_owner":{"type":"string"},"custom_segment":{"type":"string"}}},"Activity":{"type":"object","description":"An email, call, or meeting. Activities are keyed by `uid` (the `id` field is not returned on activities). Some fields are type-specific: `outbound_phone_number` on calls; `meeting_start_time`, `meeting_end_time`, and `meeting_status` on meetings. Field presence varies by record.\n","properties":{"crm_id":{"type":"string"},"uid":{"type":"string","description":"Activity unique identifier. Filter to one activity with the `uid` query parameter."},"activity_type":{"type":"string","description":"EMAIL, CALL, or MEETING."},"sub_type":{"type":"string"},"subject":{"type":"string"},"activity_timestamp":{"type":"integer","description":"Activity time (epoch ms)."},"created_at":{"type":"integer","description":"Ingestion-created time (epoch ms)."},"ingested_at":{"type":"integer","description":"Ingestion time (epoch ms)."},"modified_at":{"type":"integer","description":"Last-modified time (epoch ms)."},"direction":{"type":"string"},"duration":{"type":"integer"},"original_duration":{"type":"integer"},"external":{"type":"boolean"},"is_partner":{"type":"boolean"},"with_partner":{"type":"boolean"},"is_blast":{"type":"boolean"},"is_cold":{"type":"boolean"},"matched_to":{"type":"string"},"number_of_participants":{"type":"integer"},"account_id":{"type":"integer"},"account_crm_id":{"type":"string"},"opportunity_id":{"type":"integer"},"opportunity_crm_id":{"type":"string"},"opportunity_ids":{"type":"array","items":{"type":"integer"}},"opportunity_crm_ids":{"type":"array","items":{"type":"string"}},"opportunity_stage_id":{"type":"integer"},"lead_id":{"type":"integer"},"lead_crm_id":{"type":"string"},"user_id":{"type":"integer"},"source_id":{"type":"string"},"email_reply_time":{"type":"integer","description":"Email reply time (epoch ms); may be null."},"in_reply_to_source_id":{"type":"string","description":"Source id of the message this email replies to; may be null."},"followed_meeting_source_id":{"type":"string","description":"Source id of a followed meeting; may be null."},"outbound_phone_number":{"type":"string","description":"Calls only: outbound phone number; may be null."},"meeting_start_time":{"type":"integer","description":"Meetings only: start time (epoch ms)."},"meeting_end_time":{"type":"integer","description":"Meetings only: end time (epoch ms)."},"meeting_status":{"type":"string","description":"Meetings only: meeting status."},"deleted":{"type":"boolean"}}},"Participant":{"type":"object","description":"A person on an activity. Participant records carry both `activity_uid` (preferred) and the legacy `uid`. Field presence varies by record.\n","properties":{"id":{"type":"integer"},"activity_uid":{"type":"string","description":"Preferred activity identifier."},"uid":{"type":"string","deprecated":true,"description":"Legacy activity identifier; prefer `activity_uid`."},"name":{"type":"string"},"email":{"type":"string"},"phone_number":{"type":"string"},"job_title":{"type":"string"},"seniority":{"type":"string"},"department":{"type":"string"},"subject":{"type":"string"},"status":{"type":"string"},"external":{"type":"boolean"},"original":{"type":"boolean"},"is_originator":{"type":"boolean"},"is_partner":{"type":"boolean"},"deleted":{"type":"boolean"},"account_id":{"type":"integer"},"account_crm_id":{"type":"string"},"activity_crm_id":{"type":"string"},"activity_timestamp":{"type":"integer"},"created_at":{"type":"integer"},"ingested_at":{"type":"integer"},"duration":{"type":"integer"},"lead_id":{"type":"integer"},"lead_crm_id":{"type":"string"},"opportunity_id":{"type":"integer"},"opportunity_crm_id":{"type":"string"},"source_id":{"type":"string"},"user_id":{"type":"integer"}}},"Contact":{"type":"object","properties":{"id":{"type":"integer"},"crm_id":{"type":"string"},"account_id":{"type":"integer"},"first_name":{"type":"string"},"middle_name":{"type":"string"},"last_name":{"type":"string"},"email":{"type":"string"},"phone_number":{"type":"string"},"job_title":{"type":"string"},"department":{"type":"string"},"seniority":{"type":"string"},"country_name":{"type":"string"},"state_name":{"type":"string"},"active":{"type":"boolean"},"deleted":{"type":"boolean"},"created_at":{"type":"integer"},"modified_at":{"type":"integer"},"created_by_peopleai":{"type":"boolean"},"owner_crm_id":{"type":"string"},"record_type_crm_id":{"type":"string"},"record_type_name":{"type":"string"}}},"Lead":{"type":"object","properties":{"id":{"type":"integer"},"crm_id":{"type":"string"},"first_name":{"type":"string"},"last_name":{"type":"string"},"email":{"type":"string"},"phone_number":{"type":"string"},"job_title":{"type":"string"},"status":{"type":"string"},"active":{"type":"boolean"},"deleted":{"type":"boolean"},"created_at":{"type":"integer"},"owner_crm_id":{"type":"string"},"record_type_crm_id":{"type":"string"},"record_type_name":{"type":"string"},"converted_account_id":{"type":"integer"},"converted_contact_id":{"type":"integer"},"converted_opportunity_id":{"type":"integer"},"converted_date":{"type":"integer"}}},"Opportunity":{"type":"object","properties":{"id":{"type":"integer"},"crm_id":{"type":"string"},"name":{"type":"string"},"type":{"type":"string"},"amount":{"type":"number"},"converted_amount":{"type":"number"},"currency_iso_code":{"type":"string"},"close_date":{"type":"string"},"stage_name":{"type":"string"},"forecast_category":{"type":"string"},"lead_source":{"type":"string"},"account_id":{"type":"integer"},"account_crm_id":{"type":"string"},"owner_crm_id":{"type":"string"},"created_by_crm_id":{"type":"string"},"modified_by_crm_id":{"type":"string"},"created_at":{"type":"integer"},"modified_at":{"type":"integer"},"active":{"type":"boolean"},"closed":{"type":"boolean"},"won":{"type":"boolean"},"deleted":{"type":"boolean"}}},"Team":{"type":"object","properties":{"id":{"type":"integer"},"crm_id":{"type":"string"},"name":{"type":"string"},"full_name":{"type":"string"},"parent_team_id":{"type":"integer"}}},"TeamMember":{"type":"object","properties":{"id":{"type":"integer"},"crm_id":{"type":"string"},"first_name":{"type":"string"},"last_name":{"type":"string"},"full_name":{"type":"string"},"email":{"type":"string"},"job_title":{"type":"string"},"role":{"type":"object","properties":{"crm_id":{"type":"string"},"name":{"type":"string"},"status":{"type":"string"}}},"active":{"type":"boolean"},"deleted":{"type":"boolean"},"suspended":{"type":"boolean"},"team_id":{"type":"integer"},"team_crm_id":{"type":"string"},"team_name":{"type":"string"},"team_full_name":{"type":"string"},"parent_team_id":{"type":"integer"},"profile_id":{"type":"integer"},"profile_name":{"type":"string"},"custom_area":{"type":"string"},"custom_region":{"type":"string"}}},"EngagementScore":{"type":"object","properties":{"id":{"type":"integer"},"crm_id":{"type":"string"},"date":{"type":"string","description":"Score date (YYYY-MM-DD)."},"score":{"type":"integer"},"timestamp":{"type":"integer","description":"Score time (epoch ms)."}}},"ExportJob":{"type":"object","description":"Status of an asynchronous export job. Activity and contact export jobs share most fields; some are specific to one export type, and field presence varies.\n","properties":{"job_id":{"type":"string"},"state":{"type":"string","description":"Job state: Queued, Running, Completed, Canceled, or Failed."},"export_type":{"type":"string","description":"`snapshot` or `delta`."},"activity_type":{"type":"string","description":"Activity export jobs only."},"output_format":{"type":"string"},"start_date":{"type":"string","format":"date","description":"Activity export jobs only."},"end_date":{"type":"string","format":"date","description":"Activity export jobs only."},"job_created_time":{"type":"string","description":"Job creation time."},"job_start_time":{"type":"string","description":"Job start time (activity export jobs)."},"job_end_time":{"type":"string","description":"Job completion time."},"results_size":{"type":"integer","description":"Result size."},"fragments":{"type":"integer","description":"Number of downloadable fragments for parallel retrieval."},"params":{"type":"string","description":"Contacts export jobs only: serialized request parameters."}}},"EmailParticipant":{"type":"object","required":["email"],"properties":{"email":{"type":"string","format":"email"},"name":{"type":"string"}}}}}}